<br>
<br>
<br>
<br>
<div class="packagetext">
  <h2>Monthley <span>Package</span></h2>
</div>
<section id="pricing">

    <div class="pricingcontainer">
      
      <div class="card">
        <div class="box">
          <div class="content">
            <h2>01</h2>
            <h3>Full</h3>
            <h4>RM 60/month</h4>
            <br>
            <p><span>Customer Max Account</span> : 100</p>
            <p>Max Product : 10</p>
            <p>Max Admin : 5</p>
            
            <a class="subscribebtn" onclick="popuptoggle()">See More</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="box">
          <div class="content">
            <h2>02</h2>
            <h3>Premium</h3>
            <h4>RM 70/month</h4>
            <br>
            <p><span>Customer Max Account</span> : 200</p>
            <p>Max Product : 200</p>
            <p>Max Admin : 5</p>
            
            <a class="subscribebtn" onclick="popuptoggle()">See More</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="box">
          <div class="content">
            <h2>03</h2>
            <h3>Ultimate</h3>
            <h4>RM 80/month</h4>
            <br>
            <p><span>Customer Max Account</span> : 300</p>
            <p>Max Product : 300</p>
            <p>Max Admin : 6</p>
           
            <a class="subscribebtn" onclick="popuptoggle()">See More</a>
          </div>
        </div>
      </div>
    
    </div>

  </section>

 <!-- bahagian content--------------------------------------------------------- -->
 <div class="packagetext">
  <h2>Package <span>Include</span></h2>
</div>

 <div class="normalpackage">

    <div class="normalimg">
      <img src="/assets/pricingcontent/invoice.png" alt="" width="400px" height="300px">
    </div>
      
    <div class="normaltext">
      <h2>Invoice Generation</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Dolore, itaque quo tenetur quae vel magnam impedit molestias maiores, 
        debitis ipsa et non delectus nulla iusto enim neque, voluptates nostrum voluptate.</p>
    </div>
    
  </div>


  <div class="normalpackage">
      
    <div class="normaltext">
      <h2>Support</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Dolore, itaque quo tenetur quae vel magnam impedit molestias maiores, 
        debitis ipsa et non delectus nulla iusto enim neque, voluptates nostrum voluptate.</p>
    </div>

    <div class="normalimg">
      <img src="/assets/pricingcontent/supportvector.png" alt="" width="400px" height="300px">
    </div>
    
  </div>


<!-- bahagian addon----------------------------------------------------------- -->
  <div class="addon">
    <div class="addontext">
      <h2><span>Add</span>-On</h2>
    </div>
          <div class="addonrow">
              <div class="addonbox">
                <div class="addoncontent">
                  <img src="/assets/pricingcontent/mobileapp.png" alt="" width="250px" >
                  <p>Monthley SP Mobile Apps</p>
                </div>
              </div>
              <div class="addonbox">
                <div class="addoncontent">
                  <img src="/assets/pricingcontent/doccustom.png" alt="" width="250px" height="228.68px">
                  <p>Document Customization</p>
                </div>
              </div>
              <div class="addonbox">
                <div class="addoncontent">
                  <img src="/assets/pricingcontent/customreport.png" alt="" width="250px" height="228.68px">
                  <p>Custom Report</p>
                </div>
              </div>
              
          </div>

          <div class="addonrow">
            <div class="addonbox">
              <div class="addoncontent">
                <img src="/assets/pricingcontent/billreminder.png" alt="" width="250px" height="228.68px">
                <p>Bill & Reminder Notification</p>
              </div>
            </div>
            <div class="addonbox">
              <div class="addoncontent">
                <img src="/assets/pricingcontent/datamigration.png" alt="" width="250px" height="228.68px">
                <p>Data Migration</p>
              </div>
            </div>
            <div class="addonbox">
              <div class="addoncontent">
                <img src="/assets/pricingcontent/training.png" alt="" width="250px" height="228.68px">
                <p>Additional Training</p>
              </div>
            </div>
        </div>

    
  </div>

  <!-- bahagian one time setup----------------------------------------------------------- -->
  <!-- <div class="onetimesetup">
    <div class="onetimetext">
      <h2><span>OneTime</span> Setup</h2>
    </div>




  </div> -->

 <!-- bahagian simpleform ---------------------------------------------------------------------------------------------->
 <section id="simpleform">
  <div class="formrow">
  <form action="#" method="#">
    <div class="formbox">
      <input type="text" name="Name" placeholder="Enter Your Name" required> &nbsp;
      <input type="text" name="EmailAdress" placeholder="Enter Your Email" required> &nbsp;
      <input type="date" name="Date" placeholder="Select Date" required> &nbsp;
      <button type="submit" href="mailto:#">Schedule For Demo</button>
    </div>
  </form>
  </div>
  
  <p><span>or</span> reach us faster via <img src="/assets/whatsapp.png" height="40px" alt="" href="https://api.whatsapp.com/send?phone=number"></p>


</section>





<!-- bahagian footer --------------------------------------------------------------------------- -->
<footer>
  <div class="footercontainer">
    <div class="sec aboutus">
      <h2>About Us</h2>
      <p>save your time by manage your billing transaction every
        month make yout bill payment in perfect timing and stop
        paying for overdue charge</p>
        <ul class="sci">
          <li><a href="https://www.facebook.com/RapidevelopTechnology/"><img src="/assets/icon/facebook.png" alt="" height="30px" width="30px"></a></li>
        </ul>
    </div>
    <div class="sec quicklinks">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="#">Helpdesk</a></li>
        <li><a href="https://api.whatsapp.com/send?phone=number">Contact</a></li>
      </ul>
    </div>
    <div class="sec contact">
      <h2>Contact Us</h2>
      <ul class="info">
        <li>
          <span></span>
          <span>Rapidevelop Technology Sdn. Bhd.<br>D2-04-03A,Tamarind Square,<br>
          Persiaran Multimedia, Cyber 10,<br>63000 Cyberjaya, Selangor</span>
        </li>
        <li>
          <span></span>
          <p><a href="tel:+601234567">+601234567</a><br>
            <a href="tel:+601234567">+601234567</a></p>
        </li>
        <li>
          <span></span>
          <p><a href="https://rapidevelop.my">Know More</a></p>
        </li>
      </ul>
    </div>

    <div class="sec btn">
      <h2>Available On</h2>
      <ul class="info">
      <li>
        <a href="https://apps.apple.com/my/app/monthley/id1483731830"><img src="/assets/badge/applestorebtn.svg" width="138"></a>
      </li>
      <li>
        <a href="https://play.google.com/store/apps/details?id=com.monthley.monthley_app"><img src="/assets/badge/playstorefix.png"></a>
      </li>
      </ul>
    </div>

  </div>
</footer>
<div class="copyrighttext">
  <p>Copyright 2015 Rapidevelop. All Rights Reserved</p>
</div>





  