
<section id="mainpage">
  <div id="slider">
    <input type="radio" name="slider" id="slide1" checked>
    <input type="radio" name="slider" id="slide2">
    <input type="radio" name="slider" id="slide3">
    <input type="radio" name="slider" id="slide4">
    <div id="slides">
       <div id="overflow">
          <div class="inner">
             <div class="slide" id="slide_1">
               
                <div class="slide-content">

                  <h2>The <span>Easiest</span> Billing Solution</h2>
        
                  <p>save your time by manage your billing transaction every
                  month make your bill payment <br>in perfect timing and stop
                  paying for overdue charge</p>
  
                  <br>
                  <a href="#simpleform">
                    <button type="submit" class="sgnup-btn">Sign Up Now</button></a>
        
                </div>
             </div>
             <div class="slide" id="slide_2">
                <div class="slide-content">
                  <h2>Hassle Facing By <span>Finance</span></h2>
                  <p>majority problem in billing management system will be face by finance department</p>
            
                  <!-- bahagian card  -->
            


                </div>
             </div>
             <div class="slide" id="slide_3">
                <div class="slide-content">
                  <h2>Best <span>Solution</span> For</h2>
                  <p>helping manage your billing</p>
                </div>
             </div>
            
          </div>
       </div>
    </div>
    <div id="controls">
       <label for="slide1"></label>
       <label for="slide2"></label>
       <label for="slide3"></label>
       
    </div>
    <div id="bullets">
       <label for="slide1"></label>
       <label for="slide2"></label>
       <label for="slide3"></label>
       
    </div>
 </div>
  





  <!-- login page -->
  <div class="login-container">
    <form class="form-login">
      <div class="logocontainer">
      <img src="/assets/monthleylogo.png" alt="" width="100px">
      </div>
      
      <label for="login-input-user" class="login__label">
        Email Address
      </label>
      <!-- email form -->
      <input class="login__input" type="text" placeholder="Email" name="email_" [(ngModel)]="loginUserData.email" required/>
      <label for="login-input-password" class="login__label">
        Password
      </label>
      <!-- password form -->
      <input class="login__input" type="password" placeholder="Password" name="passwd" [(ngModel)]="loginUserData.password" required/>
      <label for="login-sign-up" class="login__label--checkbox">
        <input id="login-sign-up" type="checkbox" class="login__input--checkbox" />
        Keep me Signed in
      </label>

      <!-- bahagian button login -->
      <button (click)="loginUser()" class="login__submit" type="submit" >Login</button>
    </form>
    <a href="https://demo.monthley.com/app/forgot-password" class="login__forgot">Forgot Password?</a>
  </div>

  
    
</section>

<!-- bahagian carousell partner ----------------------------------------------------->
<section class="client">
	
			<div class="clienttitle">
				<h2> Our Client </h2>
			</div>

			<div class="clientcarousel">

				<div class="clientslide"><img src="/assets/client/pasti.png" height="100px"></div>
				<div class="clientslide"><img src="/assets/client/pasti.png" height="100px"></div>
				<div class="clientslide"><img src="/assets/client/pasti.png" height="100px"></div>
			
		  </div>
</section>




<!-- bahagian features -------------------------------------------------------------------->
<section id="features">
    

  <!--image card layout start-->
  <div class="featurescontainer">
    <!--image row start-->
    <div class="row">
      <!--image card start-->
      <div class="image">
        <img src="/assets/featuresbg/billpayment.png" alt="" width="460px" height="300px">
        <div class="details">
          <h2><span>One Stop Centre
            For <br> Bills Payment</span></h2>
          <p>Manage all your bills, receipts, statements and payments in one place</p>
          <!-- <div class="more">
            <a href="#" class="read-more">Read <span>More</span></a>
            
          </div> -->
        </div>
      </div>
      <!--image card end-->
      <!--image card start-->
      <div class="image">
        <img src="/assets/featuresbg/easytouse.png" alt="" width="460px" height="300px">
        <div class="details">
          <h2><span>Easy To Use</span></h2>
          <p>No accounting knowledge acquired. The system is user friendly base</p>
          <!-- <div class="more">
            <a href="#" class="read-more">Read <span>More</span></a>
            
          </div> -->
        </div>
      </div>
      <!--image card end-->
      <!--image card start-->
      <div class="image">
        <img src="/assets/featuresbg/paperless.png" alt="" width="460px" height="300px">
        <div class="details">
          <h2><span>Cashless And 
            Paperless</span></h2>
          <p>No need hardcopy receipt, invoices and statements. All in apps</p>
          <!-- <div class="more">
            <a href="#" class="read-more">Read <span>More</span></a>
           
          </div> -->
        </div>
      </div>
      <!--image card end-->
    </div>
    <!--image row end-->
    <!--image row start-->
    <div class="row">
      <!--image card start-->
      <div class="image">
        <img src="/assets/featuresbg/secure.png" alt="" width="460px" height="300px">
        <div class="details">
          <h2><span>Secure</span></h2>
          <p>Your data safety is guaranteed, cannot be access by unauthorized user</p>
          <!-- <div class="more">
            <a href="#" class="read-more">Read <span>More</span></a>
            
          </div> -->
        </div>
      </div>
      <!--image card end-->
      <!--image card start-->
      <div class="image">
        <img src="/assets/featuresbg/automation.png" alt="" width="460px" height="300px">
        <div class="details">
          <h2><span>Bill Automation</span></h2>
          <p>Billing generate automatically according to your configuration</p>
          <!-- <div class="more">
            <a href="#" class="read-more">Read <span>More</span></a>
            
          </div> -->
        </div>
      </div>
      <!--image card end-->
      <!--image card start-->
      <div class="image">
        <img src="/assets/featuresbg/onlinetransaction.png" alt="" width="460px" height="300px">
        <div class="details">
          <h2><span>Online Transaction</span></h2>
          <p>Detailed record keeping. Simplifies audit process</p>
          <!-- <div class="more">
            <a href="#" class="read-more">Read <span>More</span></a>
            
          </div> -->
        </div>
      </div>
      <!--image card end-->
    </div>
    <!--image row end-->
  </div>
  <!--image card layout end-->


</section>

<!-- bahagian testimoni ------------------------------------------------------------------------------------------------->
<section id="testimoni">

  <div class="testimoniheading">
    <h1>What Other Said About Monthley</h1>
  </div>

  <div class="testimoniboxcontainer">

    <div class="testimonibox">

      <!-- top -->
      <div class="boxtop">

          <!-- untuk profile -->
          <div class="profile">

              <!-- img -->
              <div class="profileimg">
                  <img src="/assets/testimoni/pasti.png" alt="">
              </div>
          

              <!-- detail user -->
              <div class="namauser">
                <strong>Pasti Selangor</strong>
                <span>Mohd Ali Bin Musa</span>
              </div>
          </div>

      </div>

      <!-- untuk comment testimoni -->
    <div class="clientcomment">
      <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, 
        provident quas dolores, vero optio reprehenderit ad aut officia mollitia numquam, 
        sint maxime animi deleniti consequatur officiis tenetur assumenda illo rerum!"</p>
    </div>
  </div>

  <div class="testimonibox">

    <!-- top -->
    <div class="boxtop">

        <!-- untuk profile -->
        <div class="profile">

            <!-- img -->
            <div class="profileimg">
              <img src="/assets/testimoni/pasti.png" alt="">
            </div>
        

            <!-- detail user -->
            <div class="namauser">
              <strong>Pasti Perak</strong>
              <span>sekolah B</span>
            </div>
        </div>

    </div>

    <!-- untuk comment testimoni -->
  <div class="clientcomment">
    <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, 
      provident quas dolores, vero optio reprehenderit ad aut officia mollitia numquam, 
      sint maxime animi deleniti consequatur officiis tenetur assumenda illo rerum!"</p>
  </div>
</div>

<div class="testimonibox">

  <!-- top -->
  <div class="boxtop">

      <!-- untuk profile -->
      <div class="profile">

          <!-- img -->
          <div class="profileimg">
            <img src="/assets/testimoni/pasti.png" alt="">
          </div>
      

          <!-- detail user -->
          <div class="namauser">
            <strong>Pasti Kedah</strong>
            <span>sekolah C</span>
          </div>
      </div>

  </div>

  <!-- untuk comment testimoni -->
<div class="clientcomment">
  <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, 
    provident quas dolores, vero optio reprehenderit ad aut officia mollitia numquam, 
    sint maxime animi deleniti consequatur officiis tenetur assumenda illo rerum"</p>
</div>
</div>

</div>

</section>

<!-- bahagian our dev -------------------------------------------------------------------------------------------------------->
<section id="ourdev">
    
  <div class="container">
    <div class="card">
        <div class="content">
            <div class="imgBx">
                <img src="/assets/people.jpg" alt="">
            </div>
            <div class="contentBx">
                <h4>Our People</h4>
                <h5>Monthley Development Team</h5>
            </div>
            <div class="sci">
              <a href="#"></a>
              <a href="#"></a>
              <a href="#"></a>
            </div>
        </div>
    </div>
    

</div>
</section>

 <!-- bahagian simpleform ---------------------------------------------------------------------------------------------->
 <section id="simpleform">
  <div class="formrow">
  <form action="#" method="#">
    <div class="formbox">
      <input type="text" name="Name" placeholder="Enter Your Name" required> &nbsp;
      <input type="text" name="EmailAdress" placeholder="Enter Your Email" required> &nbsp;
      <input type="date" name="Date" placeholder="Select Date" required> &nbsp;
      <button value="#" type="submit" href="/thankyou">Schedule For Demo</button>
    </div>
  </form>
  </div>
  
  <p><span>or</span> reach us faster via 
    <a href="https://api.whatsapp.com/send?phone=number"><img src="/assets/whatsapp.png" height="40px"></a></p>


</section>

<!-- bahagian footer --------------------------------------------------------------------------- -->
<footer>
  <div class="footercontainer">
    <div class="sec aboutus">
      <h2>About Us</h2>
      <p>save your time by manage your billing transaction every
        month make yout bill payment in perfect timing and stop
        paying for overdue charge</p>
        <ul class="sci">
          <li><a href="https://www.facebook.com/RapidevelopTechnology/"><img src="/assets/icon/facebook.png" alt="" height="30px" width="30px"></a></li>
        </ul>
    </div>
    <div class="sec quicklinks">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="#">Helpdesk</a></li>
        <li><a href="https://api.whatsapp.com/send?phone=number">Contact</a></li>
      </ul>
    </div>
    <div class="sec contact">
      <h2>Contact Us</h2>
      <ul class="info">
        <li>
          <span></span>
          <span>Rapidevelop Technology Sdn. Bhd.<br>D2-04-03A,Tamarind Square,<br>
          Persiaran Multimedia, Cyber 10,<br>63000 Cyberjaya, Selangor</span>
        </li>
        <li>
          <span></span>
          <p><a href="tel:+601234567">+601234567</a><br>
            <a href="tel:+601234567">+601234567</a></p>
        </li>
        <li>
          <span></span>
          <p><a href="https://rapidevelop.my">Know More</a></p>
        </li>
      </ul>
    </div>

    <div class="sec btn">
      <h2>Available On</h2>
      <ul class="info">
      <li>
        <a href="https://apps.apple.com/my/app/monthley/id1483731830"><img src="/assets/badge/applestorebtn.svg" width="138"></a>
      </li>
      <li>
        <a href="https://play.google.com/store/apps/details?id=com.monthley.monthley_app"><img src="/assets/badge/playstorefix.png"></a>
      </li>
      </ul>
    </div>

  </div>
</footer>
<div class="copyrighttext">
  <p>Copyright 2015 Rapidevelop. All Rights Reserved</p>
</div>











