@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background: #fff ;
    min-height: 100vh;
}

/* bahagian navigation bar--------------------------------------------------------------------------------- */
header{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,0.05);
    z-index: 1000;
}
.logo{
    height: 60px;
    line-height: 60px;
    color: #12334e;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
}

#toggle{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #0ea24b;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
#toggle::before{
    content:'';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}
#toggle::after{
    content:'';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
}
#toggle.active::before{
    transform: translateY(0px) rotate(45deg);
}
#toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}
#toggle.active {
    background: #f7226a;
}
#navbar{
    position: relative;
    height: 60px;
    right: 60px;
    background: #fff;
    transition: 0.5s;
    width: 0px;
    overflow: hidden;
}
#navbar.active{
    width: 400px;
}
#navbar ul{
    position: relative;
    display: flex;
    flex-direction: row;
}
#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    color: #12334e;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0 15px;
    letter-spacing: 2px;
}
#navbar ul li a:hover{
    color: #fff;
    background: #0ea24b;
}

/* section{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

/* bahagian toggle navbar-------------------------------------------------------------------------- */
.flex-cradle {
    /* display: flex; */
    position: right;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    /* flex-direction: column; */
    /* height: 10vh; */
    /* width: 50%; */
    padding-right: 8%;
  }
  
  .slider-cradle {
    display: flex;
    width: 100px;
    text-align: center;
    border-radius: 3px;
    background: #0ea24b;
    height: 50px;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4);
    transition: background ease-in-out 0.5s;
  }
  .slider-cradle .option-1 {
    width: 50%;
  }
  .slider-cradle .option-2 {
    width: 50%;
  }
  .slider-cradle .handle {
    cursor: pointer;
    width: 46px;
    height: 46px;
    border-radius: 3px;
    position: absolute;
    background: white;
    top: 2px;
    left: 2px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    transition: transform cubic-bezier(1, 0.11, 1, 1.04) 400ms;
  }
  .slider-cradle div {
    line-height: 50px;
    color: white;
    font-weight: 500;
  }
  .slider-cradle.is-transitioned {
    background: #0ea24b;
  }
  .slider-cradle.is-transitioned .handle {
    transform: translateX(50px);
  }

/* bahagian home--------------------------------------------------------------------------------- */
#mainpage{
    min-height: 100vh;
    display: flex;
    align-items: center;
    
}
#mainpage .slideshow-container h2{
    font-size: 3rem;
    font-weight: 900;
    transition: 0.5s;
}

#mainpage .slideshow-container .mySlides button{
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #0EA24B;
    cursor: pointer;
    transition: 0.3s;
}

#mainpage .slideshow-container .mySlides .sliderimgbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;  
}

#mainpage .slideshow-container .mySlides .sliderimgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


button:hover{
    background: #14dd68 ;
}


/* Slideshow container */
.slideshow-container {
    position: relative;
    /* background: #f1f1f1f1; */
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  /* Slides */
  .mySlides {
    padding: 80px;
    text-align: center;
    min-height: 40vh;
  }

#mainpage .slideshow-container .mySlides span{
    color:#0ea24b ;
    font-weight: 1000;
}

  /* untuk login page  */
#mainpage .logincontainer{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50%;
    max-height: 100%;
    padding-left: 10%;
    left: 0;
    right: 0;
}
/* code slider baru -------------------------------------*/
#overflow .inner .slide .slide-content h2{
    font-size: 3rem;
    font-weight: 900;
    transition: 0.5s;
}
#overflow .inner .slide .slide-content span{
    color:#0ea24b ;
    font-weight: 1000;
}
#overflow .inner .slide .slide-content button{
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #0EA24B;
    cursor: pointer;
    transition: 0.3s;
}
#slide_1{
    background-image: url("../src/assets/testbgnew.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#slide_2{
    background-image: url("../src/assets/problemslide.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#slide_3{
    background-image: url("../src/assets/bestsolutionfor.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* bahagian card slider ke 2 */
#overflow .inner .slide .slide-content .problemcontent .card{
    background: #fff;
    width: 340px;
    margin: 10px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
  }
  
  #overflow .inner .slide .slide-content .problemcontent .card .service-icon img{
    color: #fff;
    font-size: 8em;
    text-align: center;
    transition: transform 0.5s ease;
    filter: invert();
  }
  
  #overflow .inner .slide .slide-content .problemcontent .card:hover .service-icon{
    transform: translateY(-10px);
  }
  
  #overflow .inner .slide .slide-content .problemcontent .card .info{
    text-align: center;
  }
  
  #overflow .inner .slide .slide-content .problemcontent .card .info h3{
    color: #0ea24b;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
  }


/* bahagian slider -------------------------------- */
#slider {
    margin: 0 auto;
    width: 900px;
    height: 500px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    height: 550px;
 }

 #slides .slide{
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* color: #fff; */
 }
 
 

 
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    /* background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat; */
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    /* background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat; */
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }

/* login */
#mainpage .login-container .form-login .logocontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container {
	display: block;
	position: relative;
	z-index: 0;
	margin: 4rem auto 0;
    padding: 5rem 4rem 0 4rem;
	width: 100%;
	max-width: 525px;
	min-height: 680px;
	/* background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/283591/login-background.jpg); */
	/* box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.85); */
}

.login-container:after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    border-radius: 10px;
	background: linear-gradient(rgba(35, 43, 85, 0.75), rgba(35, 43, 85, 0.95));
    
}

.form-login {
	position: relative;
	z-index: 1;
  padding-bottom: 4.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.login-nav {
	position: relative;
	padding: 0;
	margin: 0 0 6em 1rem;
}

.login-nav__item {
	list-style: none;
	display: inline-block;
}

.login-nav__item + .login-nav__item {
	margin-left: 2.25rem;
}

.login-nav__item a {
	position: relative;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.25rem;
	padding-bottom: .5rem;
	transition: .20s all ease;
}

.login-nav__item.active a,
.login-nav__item a:hover{
	color: #ffffff;
	transition: .15s all ease;
}

.login-nav__item a:after {
	content: '';
  display: inline-block;
  height: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 100%;
  bottom: -1px;
  left: 0;
  border-radius: 50%;
  transition: .15s all ease;
}

.login-nav__item a:hover:after,
.login-nav__item.active a:after{
	background-color: rgb(17, 97, 237);
	height: 2px;
	right: 0;
	bottom: 2px;
	border-radius: 0;
	transition: .20s all ease;
}
.login__label {
	display: block;
	padding-left: 1rem;
}

.login__label,
.login__label--checkbox {
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	font-size: .75rem;
	margin-bottom: 1rem;
}

.login__label--checkbox {
	display: inline-block;
	position: relative;
	padding-left: 1.5rem;
	margin-top: 2rem;
	margin-left: 1rem;
	color: #ffffff;
	font-size: .75rem;
	text-transform: inherit;
}

.login__input {
	color: white;
	font-size: 1.15rem;
	width: 100%;
	padding: .5rem 1rem;
	border: 2px solid transparent;
	outline: none;
	border-radius: 1.5rem;
	background-color: rgba(255, 255, 255, 0.25);
	letter-spacing: 1px;
}

.login__input:hover,
.login__input:focus{
	color: white;
	border: 2px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
}

.login__input + .login__label {
	margin-top: 1.5rem;
}

.login__input--checkbox {
	position: absolute;
	top: .1rem;
	left: 0;
	margin: 0;
}

.login__submit {
	color: #ffffff;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 1rem;
	padding: .75rem;
	border-radius: 2rem;
	display: block;
	width: 100%;
	background-color: rgba(17, 97, 237, .75);
	border: none;
	cursor: pointer;
}

.login__submit:hover {
	background-color: rgba(17, 97, 237, 1);
}

.login__forgot {
	display: block;
	margin-top: 3rem;
	text-align: center;
	color: rgba(255, 255, 255, 0.75);
	font-size: .75rem;
	text-decoration: none;
	position: relative;
	z-index: 1;
}

.login__forgot:hover {
	color: rgb(17, 97, 237);
}

/* bahagian carousell client------------------------------------------------------------- */
.client{
    padding-top: 5%;
    max-height: 300px;
}
.client .clienttitle{
    justify-content: center;
    display: flex;
}
.client .clientcarousel {
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.client .clientcarousel .clientslide{
    margin: 2%;
}
  

/* bahagian features--------------------------------------------------------------------------------- */
.featurescontainer{
	margin: 30px;
}

.row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image{
	background: #50A7FF;
	position: relative;
	flex: 1;
	max-width: 460px;
	height: 300px;
	margin: 20px;
	overflow: hidden;
}

.image img{
	opacity: 0.8;
	position: relative;
	vertical-align: top;
	transition: 0.6s;
	transition-property: opacity;
    filter: brightness(50%);
}

.image:hover img{
	opacity: 1;
    filter: brightness(80%);
}

.image .details{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	width: 100%;
	height: 100%;
}

.image .details h2{
	text-align: center;
	font-size: 35px;
	/* text-transform: uppercase; */
	font-weight: 300;
	margin-top: 70px;
	transition: 0.4s;
	transition-property: transform;
}

.image .details h2 span{
	font-weight: 500;
    font-size: 25px;
}

.image:hover .details h2{
	transform: translateY(-30px);
}

.image .details p{
	margin: 30px 30px 0 30px;
	font-size: 18px;
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}

.image:hover .details p{
	opacity: 1;
	transform: translateY(-40px);
}

.more{
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	bottom: -60px;
	transition: 0.6s;
	transition-property: bottom;
}

.image:hover .more{
	bottom: 0;
}

.more .read-more{
	color: #000;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

.more .read-more span{
	font-weight: 900;
}

.more .icon-links i{
	color: #000;
	font-size: 20px;
}

.more .icon-links a:not(:last-child) i{
	margin-right: 20px;
}

/* Responsive CSS */

@media (max-width: 1080px){
	.image{
		flex: 100%;
		max-width: 480px;
	}
}

@media (max-width: 400px){
	.image .details p{
		font-size: 16px;
	}

	.more .read-more, .more .icon-links a i{
		font-size: 18px;
	}
}




/* bahagian testimoni--------------------------------------------------------------------------------- */
#testimoni{
    background: linear-gradient(45deg,#a8f7c9,#fff,#fff);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
}
#testimoni .testimoniheading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#testimoni .testimoniboxcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
#testimoni .testimonibox{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profileimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profileimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center ;
}
.profile{
    display: flex;
    align-items: center;
}
.namauser{
    display: flex;
    flex-direction: column;
}
.namauser strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.namauser span{
    color: #979797;
    font: 0.8rem;
}
.boxtop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.clientcomment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}



/* bahagian our dev--------------------------------------------------------------------------------- */
#ourdev{
    min-height: 80vh;
    background: linear-gradient(45deg,#ececec,#fff);
    justify-content: center;
    align-items: center;
    display: flex;
}
.container
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.container .card
{
   width: 1400px;
   height: 500px;
   padding: 60px 30px;
   margin: 20px;
   background: #f2f3f7;
   box-shadow: 0.6em 0.6em 1.2em #d2dce9,
               -0.5em -0.5em 1em #ffffff;
   border-radius: 20px;
}
.container .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.container .card .content .imgBx
{
   width: 1080px;
   height: 300px;
   border-radius: 10%;
   position: relative;
   margin-bottom: 10px;
   /* overflow: hidden; */
}
.container .card .content .imgBx img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.container .card .content .contentBx h4
{
   color: #0ea24b;
   font-size: 1.7rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
}
.container .card .content .contentBx h5
{
   color: #6c758f;
   font-size: 1.2rem;
   font-weight: bold;
   text-align: center;
}
.container .card .content .sci
{
   margin-top: 20px;
}
.container .card .content .sci a
{
   text-decoration: none;
   color: #6c758f;
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
}
.container .card .content .sci a:hover
{
   color: #0196e3;
}

/* bahagian form--------------------------------------------------------------------------------- */
#simpleform .formrow{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh; 
}
#simpleform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
    
.formbox{
    padding: 10px;
    border-radius: 5px;
    background: #e2e2e2;
    box-shadow: 10px 10px 15px rgb(192, 192, 192), -10px -10px -10px -15px rgb(228, 228, 228);
}
.formbox input {
    font-size: 18px;
    color: black;
    padding: 15px 10px;
    border: none;
    outline: none;
    background: #ececec;
}
.formbox button{
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #0EA24B;
    cursor: pointer;
    transition: 0.3s;
}
.formbox button:hover{
    background: #14dd68;
}

/* bahagian footer--------------------------------------------------------------------------------- */
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #0ea24b;
}
footer .footercontainer{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
footer .footercontainer .sec h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .footercontainer .sec h2::before{
    content:'';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #fff;
}
footer .footercontainer .sec p{
    color: #fff;
}
.sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 10px;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 48px;
    background: #fff;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a:hover{
    background: #12334e;
}

.quicklinks{
    position: relative;
}
.quicklinks li{
    list-style: none;
}
.quicklinks li a{
    color: #f7f7f7;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quicklinks li a:hover{
    color: #9051ff;
}

.info{
    position: relative;
}
.info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
.info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
}
.info li span{
    color: #fff;
}
.info a{
    color: #f7f7f7;
    text-decoration: none;
}
.info a:hover{
    color: aqua;
}

.copyrighttext{
    width: 100%;
    background: #fff;
    padding: 8px 100px;
    text-align: center;
    
}

/* bahagian pricing card--------------------------------------------------------------------------------- */
#pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background: linear-gradient(45deg, #fff, rgb(236, 236, 236));
}
#pricing .pricingcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
}

#pricing .pricingcontainer .card {
    position: relative;
    width: 320px;
    height: 440px;
    border-radius: 15px;
    margin: 30px;
    display: inline-block;
    border-radius: 15px;
}
#pricing .pricingcontainer .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
#pricing .pricingcontainer .card:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #0ea24b,#18c761);
}

#pricing .pricingcontainer .card .box .content{
    padding: 20px;
    text-align: center;
}   
#pricing .pricingcontainer .card .box .content h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.02);
    transition: 0.5s;
    pointer-events: none;
}
#pricing .pricingcontainer .card:hover .box .content h2{
    color: rgba(0, 0, 0, 0.05);
}
#pricing .pricingcontainer .card .box .content h3{
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}
#pricing .pricingcontainer .card:hover .box .content h3,
#pricing .pricingcontainer .card:hover .box .content p,
#pricing .pricingcontainer .card:hover .box .content h4
{
    color: #fff;
}
#pricing .pricingcontainer .card .box .content p{
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}
#pricing .pricingcontainer .card .box .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #0ea24b;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
#pricing .pricingcontainer .card:hover .box .content a{
    background: #13d162;
}
/* content pricing */
.normalpackage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
.normalpackage .normaltext {
    max-width: 40%;
}
.packagetext{
    display: flex;
    justify-content: center;
    align-items: center;
}
.packagetext span{
    color: #0EA24B;
    font-weight: 1000;
}



/* addon content */
.addon .addonbox{
    align-items: center;
    justify-content: center;
    margin: 3%;
}
.addon .addonrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.addon .addonrow .addonbox .addoncontent{
    align-items: center;
    justify-content: center;
}
.addon .addonrow .addonbox .addoncontent p{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.addon .addontext{
    display: flex;
    align-items: center;
    justify-content: center;
}
.addon .addonbox h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.addon .addontext span{
    color: #0EA24B;
    font-weight: 1000;
}

/* bahagian onetimesetup */
.onetimesetup .onetimetext{
    display: flex;
    align-items: center;
    justify-content: center;
}

.onetimesetup .onetimetext span{
    color: #0EA24B;
    font-weight: 1000;
}

















/* bahagian responsive--------------------------------------------------------------------------------- */
/* navbar */
@media (max-width: 991px){
    #navbar{

        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #navbar.active{
        height: calc(100vh - 60px);
        bottom: 0;
        width: 100%;
    }
    #navbar ul{
        flex-direction: column ;
        justify-content: center;
        align-items: center;
    }
}

/* footer */
@media (max-width:991px){
    footer{
        padding: 40px;
    }
    footer .footercontainer{
        grid-template-columns: repeat(2,1fr);
    }
    .copyrighttext{
        padding: 8px 40px;
    }
}
@media (max-width:768px){
    footer .footercontainer{
        grid-template-columns: repeat(1,1fr);
    }
}

/* home */
@media (max-width: 620px){
    .img-slider{
      width: 400px;
      height: 250px;
    }
  
    .img-slider .slide .info{
      padding: 10px 20px;
    }
  
    .img-slider .slide .info h2{
      font-size: 30px;
    }
  
    .img-slider .slide .info p{
      width: 80%;
      font-size: 13px;
    }
  
    .img-slider .navigation{
      bottom: 15px;
    }
  
    .img-slider .navigation .btn{
      width: 8px;
      height: 8px;
      margin: 6px;
    }
  }
  
  @media (max-width: 420px){
    .img-slider{
      width: 320px;
      height: 200px;
    }
  
    .img-slider .slide .info{
      padding: 5px 10px;
    }
  
    .img-slider .slide .info h2{
      font-size: 25px;
    }
  
    .img-slider .slide .info p{
      width: 90%;
      font-size: 11px;
    }
  
    .img-slider .navigation{
      bottom: 10px;
    }
  }

  /* bahagian login  */
  @media (max-width: 900px){
	#mainpage {
        flex-direction: column;
        right: 0;
        min-width: 100%;
    }
    #controls{
        height: 0;
    }

    /* bahagian pricing addon  */
    @media (max-width: 991px){
        .addon .addonrow {
            flex-direction: column;
        }
        
    }

    /* untuk hilangkan slide bila kt mobile */
    @media (max-width: 991px){
        #slider {
            overflow: hidden;
        }
        #slides {
            overflow: hidden;
        }
    }
    
    
}